header{
   background-color:$background-color_1 ;
    height: 80px;
    width: 100%;
    text-decoration: none;
   
    img{
      display: flex;
       height: 50px;
       margin-left: 90px;

    }
       ul{ 
        display: flex;
        font-family:$font_1;
        justify-content: flex-end;
        text-decoration: none;
        margin-right: 20px;
        text-decoration: none;
        
    }
       li{
        position: relative; bottom: 4px;
        margin-left: 15px;
        list-style: none;
        text-decoration: none;
        color: $color_2; 
    }
 }
