header {
	height: 100px;
	width: 100%;
	background-color: $background-color_1;
    img {
		display: flex;
		position: relative;
		left: 20px;
		position: relative;
		top: 15px;
		height: 60px;
		margin-left: 20px;
		border-radius: 50%;
	}ul {
		display: flex;
		color: $color_1;
		font-family: $font-family_1;
		justify-content: flex-end;
		text-decoration: none;
		margin-right: 20px;
	}
    li {
		margin-left: 15px;
		list-style: none;
		color: $color_2;
		text-decoration: none;
	}
}