.formulario {
	background-color: $background-color_5;
}
.clientes {
	h1 {
		display: flex;
		background-color: $background-color_6;
		justify-content: center;
		margin-top: 40px;
		color: $color_4;
		font-family: $font-family_1;
	}
}
.formcss {
	background-color: $background-color_5;
	margin: 40px 200px 40px 200px;
}