$color_1: rgb(0, 0, 0);
$color_2: rgb(255, 255, 255);
$color_3: rgba(214, 207, 220, 0.738);


$background-color_1: rgb(0, 0, 0);
$background-color_2: white;

$border-color_1: black;


$font_1:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


