$color_1: whitesmoke;
$color_2: white;
$color_3: rgba(214, 207, 220, 0.738);
$color_4: rgb(0, 0, 0);
$font-family_1: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$font-family_2: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-family_3: 'Lato', sans-serif;
$background-color_1: rgb(0, 0, 0);
$background-color_2: black;
$background-color_3: rgb(255, 255, 255);
$background-color_4: blueviolet;
$background-color_5: white;
$background-color_6: rgb(253, 253, 253);
$border-color_1: black;