.botoncss {
	button {
		background-color: $background-color_1;
		border-color: $border-color_1;
		font-size: 15px;
	}
}

.servicios {
	ul {
		background-color: $background-color_4;
		display: flex;
		justify-content: space-around;
		margin: 40px 40px 0px 40px;
		padding: 0px 10px 0px 10px;
	}
	li {
		font-family: $font-family_1;
		font-size: 20px;
		text-decoration: none;
		list-style: none;
	}
}
